#navigation {
  float: right;
  height: 4px;
  width: 100%;
}

#container {
  float: right;
  width: 100%;
}

#main {
  margin-right: 200px;
}

#sidebar {
  width: 600px;
  margin-left: 300px;
  float: right;
}
