<!DOCTYPE html>
<html>
<head>
  <title>MusicConcert</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<header>
    <h1>The Best Music Concert Network</h1>
  </header>


<body>

<%= yield %>

</body>







<br>
<br>
<br>
<br>
<br>
<br>
<footer>
    <p>by Wendy Chan</p>
  </footer>
</html>

